*{
  box-sizing: border-box;
}

.bg-myYellow{
  background-color: rgb(254, 228, 64);
}

.bg-myPurple{
 background-color: rgb(155, 93, 229);
}

.bg-myBlue{
background-color: rgb(0, 187, 249);
}

.bg-myGreen{
background-color: rgb(0, 187, 249);
}